h1 {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-image: url('images/background.jpg');
    background-size:cover;
}

.mugshot {
    border-style:groove;
    border-color: rgba(128, 181, 212, 0.329);
    border-width: 50px;
    width: 700px;
    border-radius: 300px;
    margin-right: 20px;
}

.tech-images {
    width: 80px;
    margin-right: 10px;
}