h1, p{
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: rgba(2, 2, 2, 0.801);
}

.my-nav {
    box-shadow: 10px 10px 5px rgb(51, 50, 50);
}

.container {
    background-color: rgba(82, 73, 73, 0.411);
    box-shadow: 10px 10px 5px rgba(27, 26, 26, 0.445);

}

/* FILEPATH: /C:/Users/tents/Portfolio/styles.css */
/* BEGIN: scrollbar-style */

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

/* Hover state */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* END: scrollbar-style */


.introbox {
    margin-top: 100px;

}
.intro {
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 4px #000000;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-shadow: 2px 2px 4px #000000;
}

.info h2 {
    text-align: center;
    color:aliceblue;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.socials img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.aboutme {
    margin-top: 50px;
    margin-left: 20px;
    padding: 40px;

    text-align: center;
    /* text-shadow: 2px 2px 4px #000000; */
    box-shadow: 10px 10px 5px rgb(22, 22, 22);

    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
}

.badges {
    padding: 40px;

    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;

    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 5px rgb(22, 22, 22);

    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-around;
}

.badges span {
    font-size: 20px;
}


.profilepic {
    border-radius: 50%;
    border-width: 5px;
    border-color: rgba(255, 255, 255, 0.822);
    border-style:solid;
    box-shadow: 10px 10px 5px rgb(22, 22, 22);

    width: 500px;
    height: 500px;

    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
}

hr{
    margin-top: 100px;
}

/* Projects portion */

.projects-title {
    color: aliceblue;
    margin-bottom: 20px;
}
.technologies-used {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.technologies-used img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

