h1, p{
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: rgba(243, 222, 209, 0.562);
}
.intro{
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.about{
    padding:20px;
    height: 50%;
    width: auto;
}

.photo img{
    margin-right: 200px;
    width: 600px;
    border-radius: 500px;
    border-style: groove;
    border-width: 30px;
    align-items: center;
    border-color: rgba(253, 215, 193, 0.562);
}

.hello {
    font-size: 100px;
}
.job-status {
    opacity: 0.5;
}
.subtext {
    font-size: 50px;
}


@media only screen and (max-width: 886px) {

    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .about{
        padding:20px;
        height: 50%;
        width: auto;
        font-size: 12px;
    }

    .hello {
        font-size: 50px;
    }

    .subtext {
        font-size: 30px;
    }

}
.tech-images {
    width: 80px;
    margin-right: 10px;
}

.contactHeader {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.contact-form {
    width: 500px;
    margin: auto;
}